@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;700&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
}

.font-weight {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.color-green {
    color: #00d573;
}

.color-black {
    color: #242c36;
}

.btn-default {
    background-color: #00d573 !important;
    border-color: #00d573 !important;
    color: white !important;
}

.btn-black {
    background-color: #242c36 !important;
    border-color: #242c36 !important;
    color: white !important;
}

.btn-outline-default {
    color: #00d573 !important;
    border-color: #00d573 !important;
}

.border-bt {
    border: 1px solid rgb(36 44 54 / 12%);
}

.mt-6 {
    margin-top: 10em;
}

.img-width {
    width: 100%;
}

.margin-icon {
    margin-bottom: 15px;
}


@media (max-width: 768px) {
    .no-margin {
        margin-top: 20px !important;
    }
}